@use '../util/' as u;
/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

html{
  box-sizing: border-box;
}
/* Box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
  list-style: none;
}



/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: u.$font;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
}
