@use '../util/' as u;
a:visited,
a,
a:active {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,p{
    font-weight: 400;
}
h1{
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
  span { color: var(--color-secondary); }
  text-transform: uppercase;
}
p {
  margin: 2rem 0;
  line-height: 2rem;
 
}

