@use '../util/' as u;

h1,
h2,
h3,
h4,
h5,
h6,p{
    font-weight: 400;
}
h1{
  font-size: clamp(u.rem(28), u.rem(16) + 20vw, u.rem(36));
  font-weight: 600;
  span { 
    text-transform: uppercase;
    color: var(--color-secondary);
    animation: blinker 1s linear infinite;
    @keyframes blinker {
      50%{
        opacity: 0;
      }
      
    }
   }
  
}
p {
  margin-top: 0;
  font-size:clamp(u.rem(16), u.rem(16) + 2vw, u.rem(18));
 
}

