@use '../util'as u;
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: u.rem(56);
  padding-bottom: u.rem(80);
  @include u.breakpoint-down(small){
    grid-template-columns: repeat(1,1fr);
 
  }
  .right-about {
    display: grid;
   grid-template-columns: repeat(2, 1fr);

    gap: u.rem(32);
    @include u.breakpoint-down(small){
      grid-template-columns:  repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      &:hover {
        cursor: grab;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
      }
      @include u.breakpoint-down(small){
        width: min(100% - u.rem(40), u.rem(700));
      
      }
    }
    .abt-text {
      padding: u.rem(24);
      display: flex;
      flex-direction: column;
      .large-text {
        padding: u.rem(24);
        font-size: u.rem(48);
        font-weight: 700;
        color: var(--color-secondary);
      }
      .small-text {
        padding-left: u.rem(48);
        position: relative;
        text-transform: uppercase;
        font-size: u.rem(19.2);
        color: var(--color-grey-1);
        letter-spacing: 2px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          width: u.rem(32);
          height: 2px;
          background-color: var(--color-grey-5);
        }
      }
    }
  
  }
  .left-about {
    padding-right: u.rem(80);
    p {
      line-height: u.rem(32);
      padding: u.rem(16);
      color: var(--color-grey-1);
      font-size: u.rem(16);
    
    }
    h4 {
      font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
      text-transform: uppercase;
      padding-left: u.rem(20);
    }
   
  }
}
.about-stats {
  padding-bottom: u.rem(64);
 
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: u.rem(32);
    @include u.breakpoint-down(small){
      grid-template-columns: repeat(1, 1fr);
      width: min(100% - u.rem(40), u.rem(700));
     
    }
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .progress-con {
        display: flex;
        align-items: center;
        .progress-text {
          color: var(--color-grey-2);
        }
        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-grey-4);
          margin-left: u.rem(16);
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            width: 60%;
            transition: all 0.4s ease-in-out;
          }
          .html {
            width: 80%;
          }
          .css {
            width: 95%;
          }
          .js {
            width: 75%;
          }
          .react {
            width: 60%;
          }
          .node {
            width: 87%;
          }
          .python {
            width: 70%;
          }
        }
      }
    }
  }
}
.timeline{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: u.rem(32);
  padding-bottom: u.rem(48);
  @include u.breakpoint-down(small){
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .timeline-item{
    position: relative;
    padding-left: u.rem(48);
    border-left: 1px solid var(--color-grey-5);
    .tl-icon{
      position: absolute;
      left: u.rem(-27);
      top: 0;
      background-color: var(--color-secondary);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
         font-size: 1.3rem; 
        }
    }
    .tl-duration{
      padding: .2rem .6rem;
      background-color: var(--color-grey-5);
      border-radius: 15px;
      width: fit-content;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5{
      padding: u.rem(16) 0;
      text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    span{
      color: var(--color-grey-2);
      font-weight: 800;
      font-size: 1.2rem;
    }
    }
    p{
      color: var(--color-grey-2);
    }
  }
}