@use '../util'as u;
.header-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  min-height: 100vh;
  gap: 40px;
  .left-header{
    display: flex;
    align-items: center;
    position: relative;
    .header-shape{
      transition: all .4s ease-in-out;
      position: absolute;
      background-color: var(--color-secondary);
      top: 0;
      left: 0;
      width: 65%;
      height: 100%;
      z-index: -1;
      clip-path: polygon(0 0, 60% 0, 120% 100%, 0% 100%);
    }
    .image{
      height: 90%;
      width: 68%;
      border-radius: var(--br--sm-2);
      background-color: var(--color-black);
      transition: all .4s ease-in-out;
      margin-left: u.rem(64);
      border-radius: 10px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
          filter: grayscale(0);
        }
      }
    }
  }
  .right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: u.rem(288);
   
  }
