@use '../util'as u;
.port-text{
  text-align: center;
}
.portfolios{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: u.rem(32);
  margin-top: u.rem(16);
  padding-bottom: 6rem;
  @include u.breakpoint(medium){
    grid-template-columns: repeat(2,1fr);
 
  }
  @include u.breakpoint(large){
    grid-template-columns: repeat(3,1fr);
 margin-top: 3rem;
  }

  .portfoli-item{
    position: relative;
 
    img{
      width: 100%;
      height: u.rem(300);
      object-fit: cover;
      border-radius: 25px;
    }
    .hover-items{
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: all .4s ease-in-out;
    }
    h3{
      font-size:1.5rem;
      color: var(--color-white);
      margin-bottom: 1.5rem;
    }
    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
        background-color: var(--color-primary);
        margin: 0 1rem;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
         transition: all .4s ease-in-out;
        i{
          font-size: u.rem(24);
          color: var(--color-white);
          margin: 0 1rem;
        
        }
        &:hover{
          background-color: var(--color-white);
          i { color: var(--color-primary); }
        }
      }
    }
  }
}
.portfoli-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
